
<div class="row">
  <div class="col-md-5"> 
        </div>
            <!-- admin login page -->

  <div class="col-lg-5">
    <div class="d-flex" style="align-items: center; margin-top: 30%; border-color: black;" >
        
          <button type="button" class="btn mt-5" data-bs-toggle="offcanvas" routerLink="/adminlogin"><img style="width: 150px; height: 150px;" src="https://tse3.mm.bing.net/th?id=OIP.XGquqPvkTuE3NozPthlJtQAAAA&pid=Api&P=0" alt="adminlogin"></button>
       
          <button type="button" class="btn mt-5" routerLink="/login" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><img style="width: 156px;height: 156px;" src="https://tse3.mm.bing.net/th?id=OIP.YKDwKC8hCp1KuYYWD3AoJAAAAA&pid=Api&P=0" alt="userlogin">
        </button>
  
      </div>
    </div>
</div>




 