<div class="container p-3 mt-4">
    <h1 class="bg-dark text-white text-center">Avaliable Books in Admin Library</h1>
<div class="col-lg-6">
        <input [(ngModel)]="searchKey" style="margin-left: 40%;" type="text" class="form-control" placeholder="Search books here">
    
</div> 

<div *ngIf="!bookstatusmsg" class="row">
      <!-- table -->
      <table class="table border text-center mt-5">
          <thead style="background-color: rgb(35, 199, 221);">
              <tr>
                  <th>Sl No</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Publisher</th>
                  <th>Publish Date</th>
                  <th>Quantity</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody style="background-color: rgb(169, 189, 182);">
              <tr *ngFor="let books of table  | search:searchKey:'booktitle'; let i=index">
                  <th>{{i+1}}</th>
                  <th>{{books.booktitle}}</th>
                  <th>{{books.author}}</th>
                  <th>{{books.publisher}}</th>
                  <th>{{books.pubdate}}</th>
                  <th>{{books.countbooks}}</th>
                  <th> <i (click)="removebook(books.booktitle)" class="fa-solid fa-trash btn btn-danger"></i> </th>
              </tr>


          </tbody>
      </table>
  </div>  
  <button routerLink="/adminhmpage" class="btn btn-success" style="margin-left: 40%;">Go Back</button>

</div >