
<mat-list role="list">
    <div class="profile"> 
    <img src="https://tse4.mm.bing.net/th?id=OIP.zFMy78vUAnotrMwk7qaMKQHaHa&pid=Api&P=0" alt="">
    <h3>Midhuna</h3>
    <h4>midhuna@gmail.com</h4>
</div>
<mat-divider></mat-divider>
   <div class="pages">
    <a routerLink="/adminhmpage">Home</a>
    <a routerLink="/adminbooks">All Books</a>
    <a routerLink="/adminadd">Add Books</a>
    <a routerLink="/adminissue">Book Recomentation</a>
    <a routerLink="/adminallissue">All Issued Books</a>
   </div>
  </mat-list>
  


