

<!-- login page -->
<div>
  <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <!-- sign in with  -->
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                <button type="button" class="btn btn-primary btn-floating mx-1 rounded-pill">
                  <i class="fab fa-facebook-f"></i>
                </button>
    
                <button type="button" class="btn btn-primary btn-floating mx-1 rounded-pill">
                  <i class="fab fa-twitter"></i>
                </button>
    
                <button type="button" class="btn btn-primary btn-floating mx-1 rounded-pill">
                  <i class="fab fa-linkedin-in"></i>
                </button>
              </div>
    
              <!-- login -->
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Or</p>
              </div>
    
              <!-- username input -->
              <div class="form-floating mb-3">
                  <input name="username" formControlName="username"  type="text" class="form-control" id="floatingInputusername" placeholder=" enter the username" required/>
                  <label for="floatingInput">UserName</label>
              </div>
          <!-- username error msg -->
          <div *ngIf="this.loginForm.get('username')?.errors&&this.loginForm.get('username')?.touched"
          class="text-danger mb-3">Please Enter valid Username</div>
    
              <!-- Password input -->
          <div class="form-floating">
              <input name="password" formControlName="password"  type="password" class="form-control" id="floatingPasssword" placeholder="enter password" required/>
              <label for="floatingPassword">Password</label>
          </div>
           <!-- password error msg -->
           <div *ngIf="this.loginForm.get('password')?.errors&&this.loginForm.get('password')?.touched"
           class="text-danger mb-3">Please Enter valid Password</div>
    
              <div class="d-flex justify-content-between align-items-center mt-4">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                  <label class="form-check-label" for="form2Example3">
                    Remember me
                  </label>
                </div>
                <a href="#!" class="text-body">Forgot password?</a>
              </div>
              <!-- login error msg -->
              <div class="nt-2 mb-3 text-danger fw-bolder">
                {{loginErrorMsg}}
              </div>
    
              <div class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
                <!-- spinner -->
        <div *ngIf="loginSuccessStatus" class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div></button>


                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                    class="link-danger" routerLink="/register">Register</a>
                  <a routerLink="" class="ms-2 link-success">Back to Home</a>
                  </p>
              </div>
    
            </form>
          </div>
        </div>
      </div>
    </section>
</div>