<div class="container p-3 mt-4">
    <h2 style="background-color: blanchedalmond;" class="text-center"><b>History Of Isuued Books</b></h2>
    <div class="row">
        <!-- table -->
        <table class="table border text-center mt-5">
          <thead style="background-color: rgb(20, 77, 20); color: white;">
              <tr>
                  <th>Book Name</th>
                  <th>Author</th>
                  <th>Publisher</th>
          </thead>
          <tbody>
              <tr *ngFor="let items of itemBook">
                <th>{{items.booktitle}}</th>
                <th>{{items.author}}</th>
                <th>{{items.publisher}}</th>
              </tr>


          </tbody>
      </table>
  </div>
  <button routerLink="/dashboard" class="btn btn-success rounded-pill" style="margin-left: 40%;">Go Back</button>

  
</div >