<div class="container p-3 mt-4">
    <h2 class="text-center">My Issued Books</h2>
    <div class="row">
        <!-- table -->
        <table class="table border text-center mt-5">
          <thead>
              <tr>
                  <th>Book Name</th>
                  <th>Author</th>
                  <th>Publisher</th>
                  <th>Action</th>              </tr>
          </thead>
          <tbody>
              <tr>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th><button class="btn btn-success">Clear</button></th>
              </tr>


          </tbody>
      </table>
  </div>
  <button routerLink="/dashboard" class="btn btn-success rounded-pill" style="margin-left: 40%;">Go Back</button>

  
</div >