<!--======== navbar============= -->
<nav  class="navbar navbar-expand-lg  bg-light" style="z-index: 10px;">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" 
      style="font-family: 'Dancing Script', cursive;;margin-left: 20px;font-size: 30px;"><i class="fa-solid fa-book fa-beat me-4"></i>
      <b>Library Management</b></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse me-5 justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user me-2" style="color:#00060f;"></i> {{user}} 
            </a>
            <ul class="dropdown-menu border">
              <li><a class="dropdown-item btn"><i class="fa-solid fa-trash me-2" style="color: #00060f;"></i> Account</a></li> 
              <li><a (click)="logout()" class="dropdown-item btn" ><i class="fa-solid fa-right-from-bracket me-2" style="color: #01060e;"></i>Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- ============navabar end====================== -->

<!-- ===========sidenvavbar =================-->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse " >
    <div class="position-sticky ">
       <div class="list-group list-group-flush  " style="width: 280px;"> 
          <a  class="list-group-item list-group-item-action   text-center bg-light text-dark" >
              <img src="https://tse1.mm.bing.net/th?id=OIP.3mU3q9cMOdC4j5sozVnQEwHaHa&pid=Api&P=0" width="170px" style="margin-top: 3px;border-radius: 110px;" alt="">
             <button class="btn" (click)="getemail()"></button>
              <h4 (click)="getemail()">{{email}}</h4>
              <h2 class="text-center fw-bolder mt-1">
              {{user}}</h2>
            </a>
        <a  class="list-group-item list-group-item-action text-center bg-dark" routerLink="/dashboard">
        <span class="btn text-light btn" style="border: none;">Home</span>
        </a>
        <button class="list-group-item list-group-item-action bg-dark text-center " routerLink="/all-books"  >
            <span class="btn text-light" style="border: none;">All books</span>
        </button>
        <a  class="list-group-item list-group-item-action bg-dark text-center" routerLink="/recommented"  >
            <span class="btn text-light" style="border: none;">Recommented Books</span>
        </a>
        <a  class="list-group-item list-group-item-action bg-dark text-center " routerLink="/issuedbook"  >
            <span class="btn text-light" style="border: none;">Issued Books</span>
        </a>
      </div> 
    </div>
  </nav>

   <!-- ===========main-content=========== -->

 <div class="heading col-md-4">
    <div>
        <h1>Welcome <span style="color: black;">{{user}}...</span></h1> 
      </div>

      <p>This is a Dummy Data : Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi distinctio dolor ab ad esse, blanditiis eius quasi est quaerat quia modi recusandae natus, eaque consectetur saepe commodi nesciunt, laboriosam nisi! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur nobis culpa quam adipisci ex minus quisquam quos quod labore tempora sapiente alias, iste cum, provident molestiae porro voluptate numquam eum.</p>
      <img width="90%" style="margin-left: 120%;" src="https://tse3.mm.bing.net/th?id=OIP._ZLd48igT9XvCs5DCyKvHAHaFj&pid=Api&P=0" alt="">
  </div>
  
