<div class="container p-3 mt-4">
    <h1 class="bg-dark text-white text-center">Books Issued by User</h1>
    <div class="col-lg-6">
    
</div> 
<table class="table border text-center mt-5">
  <thead style="background-color: rgb(46, 135, 167);">
      <tr>
          <th>Sl No</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publish Date</th>
      </tr>
  </thead>
  <tbody style="background-color: rgb(106, 164, 168);">
      <tr *ngFor="let items of itemBook let i=index">
          <th>{{i+1}}</th>
          <th>{{items.booktitle}}</th>
          <th>{{items.author}}</th>
          <th>{{items.pubdate}}</th>
      </tr>
  </tbody>
</table>
  <button routerLink="/adminhmpage" class="btn btn-success" style="margin-left: 40%;">Go Back</button>

</div >