<div class="container">
   <div class="row">
       <div class="col-lg-10">
            <h1>
                Hi,
            </h1>
            
            <h3 class="fw-bolder">
             Iam Midhuna.K
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est placeat voluptatem dolorem esse, veritatis excepturi dicta laudantium aspernatur facere accusantium sunt facilis recusandae, incidunt voluptate id, libero aliquam eaque. Dolorum?
            </p>
           
       </div>
       <div class="col-lg-6">
        <img style="width: 90%;margin-left: 100%;" src="https://i.pinimg.com/originals/ac/14/0a/ac140a627af854f14c7f653efd7d53ae.gif" alt="">
       </div>
   </div>
   
    
</div>